
:root {
  --color: white;
}
::placeholder{
  color: #cccccc;
}

/*Colours:
#BAC2D9 Background
#F2BFAC Text
#2E3D59 Sidebar
#A66151 Buttons
#010626 Panels
 */


body{
  min-height: 100%;
  height: 100vh;
}

html{
  min-height: 100%;
  height: 100vh;
}


h1{
  color: var(--color);
}



#computerwebsite_header{
  text-align: center;
  color: #F2BFAC;
}

.main_button{
  display: block;
  color: white;
  background-color: #A66151;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  text-align: center;
  width: 100%;
  border:none;
}

.button{
  color: white;
  background-color: #A66151;
}

.container{
  background-color: #BAC2D9;
  margin: 0 auto;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
        "sidebar main"
        "footer footer";
  grid-gap: 50px;
}

header{
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sidebar{
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 230px;
  min-height: 100%;
  height: 100vh;
  align-items: stretch;
  background-color: #2E3D59;
  border-right: 2px solid black;
}

.buttons{
  width: 200px;
}

#componentTypes{
  display: none;
  background-color: #A66151;
  border-color: black;
  border-width: 10px;
  text-align: center;
}

a{
  color: white;
}

a:active{
  color: grey;
}

.welcome-screen{
  display: grid;
  text-align: center;
}


.dropdown:hover > #componentTypes{
  display: flex;
  flex-direction: column;
  margin-left: 210px;
  margin-top: -58.5px;
  position: absolute;
}

footer{
  position: fixed;
  bottom: 0;
  width: max-content;
  color: white;
}

#items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;

}
#items > li{
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 150px;
  border: black solid 2px;
  overflow: hidden;
  color: var(--color);
  background-color: #2E3D59;
}

.itemButton{
  margin-top: 5px;
  width: 60px;
  margin-left: 90px;
  color: var(--color);
  background-color: #A66151;
  border: none;
}

.prices{
  margin-top: 75px;
  margin-left: 110px;
}

.components{
  display: none;
}

.dropdown:hover > .components{
  display: flex;
}

#pick_user{
  position: absolute;
  right: 50px;
  top: 50px;
  width: 120px;
}

.selectionComponents{
  display: grid;
  position: relative;
  border: black solid 2px;
  margin: auto;
  width: 50%;
  padding: 10px;
  color: var(--color);
  background-color: #2E3D59;
}

.selectionComponents > label{
  height: 400px;
  overflow: scroll;
}

.selectionComponents > label > div > select{
  display: grid;
  width: 100px;
  color: var(--color);
  background-color: #A66151;
}

.addComponent{
  position: relative;
  color: var(--color);
  background-color: #A66151;
  border:none;
}



#createButton{
  display: grid;
  padding: 10px;
  margin: 10px auto auto;
  color: var(--color);
  background-color: #A66151;
  border:none;
}


.computer_building{
  display: none;
}

#CPU_SECTION{
  color: #2E3D59;
}

#computer_items{
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 50%;
  margin: auto;
  border: 3px solid black;
  padding: 10px;
  z-index: 1;
  text-align: center;
  color: white;
  background-color: #2E3D59;
}


#computer_items > ul{
  display: flex;
  height: 100px;
  width: content-box;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: center;
}

#computer_items > ul > li{
  padding-right: 70px;
  width: min-content;
}

#done_button{
  width: 100px;
  height: 50px;
  color: white;
  background-color: #A66151;
  border:none;
}

#back_button{
  width: 100px;
  height: 50px;
  color: white;
  background-color: #A66151;
  border:none;
}

#computer_case{
  z-index: 1;
  text-align: center;
  overflow: clip;
  background-image: url(/visual/computer_case.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 600px;
  height: 400px;
}

#computer_text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  color: white;
}

#computer_text > li{
  width: fit-content;
}

#madeBy{
  position: absolute;
  left: 0;
  top: 50px;
  height: 150px;
  width: 200px;
  overflow: scroll;

}


.draggable{
  cursor: move;
}

#dropped{
  width: 200px;
  height: 100px;
}

.save_panel{
  text-align: left;
  padding-left: 10px;
  z-index: 10;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  color: var(--color);
  background-color: #2E3D59;
  height: 300px;
  width: 500px;
  top: 30%;
  left: 40%;
  display: none;

}

#close_panel{
  position: absolute;
  top: 0;
  right: 0;
  color: var(--color);
  background-color: #A66151;
  border:none;
}

#computers{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}
#computers > li{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-bottom: 10px;
  height: 250px;
  width: 300px;
  background-color: #2E3D59;
  background-image: url(/visual/computer_case.png);
  background-repeat: no-repeat;
  background-size: contain;
  border: black solid 2px;
  overflow: hidden;
}
.error_message{
  display: none;
  color: red;
}



.detailsComputer{
  width: 75px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--color);
  background-color: #A66151;
  border:none;
}

#computer_name{
  color: var(--color);
  background-color: #A66151;
  width: min-content;
}

#selectable_users{
  color: var(--color);
  background-color: #A66151;
}

.computerName{
  color: var(--color);
  position: absolute;
  bottom: 0;
  left: 0;
}

#details_panel{
  top: 200px;
  left: 40%;
  z-index: 10;
  position: fixed;
  color: var(--color);
  background-color: #2E3D59;
  height: 300px;
  width: 500px;
  display: none;
}

.invisible_Comp{
  display: none;
}

#components{
  position: absolute;
  height: 50%;
  width: 40%;
  right: 0;
  bottom: 25%;
  overflow: scroll;
}


#components > li{

}

#edit_computer{
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--color);
  background-color: #A66151;
  border:none;
}
#delete_computer{
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--color);
  background-color: #A66151;
  border:none;
}

#done_items{
  display: flex;
  flex-flow: column;
  width: 300px;
  height: 105px;
  overflow: scroll;
}

#save_button{
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--color);
  background-color: #A66151;
  border:none;
}

#edit_button{
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--color);
  background-color: #A66151;
  border:none;
}

#delete_button{
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--color);
  background-color: #A66151;
  border:none;
}

#add_component{
  position: absolute;
  display: block;
  left: 300px;
  top: 50px;
  width: 50px;
  height: 50px;
  color: White;
  background-color: #A66151;
  border:none;

}

#add_component span{
    position: relative;
    width: 30px;
    height:30px;
    display: block;
    top: 0%;
    left:50%;
    transform: translate(-50%,-50%);
}

#add_user{
  position: absolute;
  display: block;
  left: 300px;
  top: 50px;
  width: 50px;
  height: 50px;
  color: White;
  background-color: #A66151;
  border:none;
}

#add_user span{
  position: relative;
  width: 30px;
  height:30px;
  display: block;
  top: 0%;
  left:50%;
  transform: translate(-50%,-50%);
}

#users{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

#users > li{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-bottom: 10px;
  color: white;
  background-color: #2E3D59;
  height: 200px;
  width: 200px;
  border: black solid 2px;
  overflow: hidden;
}

#user_name{
  color: var(--color);
  background-color: #A66151;
  border:none;
}

#user_description{
  width: 450px;
  height: 150px;
  text-wrap: inherit;
  color: var(--color);
  background-color: #A66151;
}

#component_name{
  color: var(--color);
  background-color: #A66151;
}

#component_type > select{
  color: var(--color);
  background-color: #A66151;
}
#component_price{
  color: var(--color);
  background-color: #A66151;
}
